<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
  <%- include('partials/header.ejs'); %>

  <% if(locals.submit1) { %>
  <div class="alert alert-success text-center"   role="alert">
    congratulations 👏 you have created a post!
  </div>

  <%  } else {%>

  <div class = "text-center" >
      <form action="/submit" method="POST">
   <div class= "form-group">
    <label for="exampleInputEmail1">Name Your Post </label>
    <input type="text" name="nameofpost" class=" text-center form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Post Name">
   </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Write Your Post </label>
    <input type="text" name="content" class=" text-center form-control" id="exampleInputPassword1" placeholder="Your Post Here">
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>

  </div>

  <%}%>
</form>
</body>
</html>
